<!DOCTYPE HTML>
<!--
	Lens by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Navet 2.0</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/main.css" />
		<noscript><link rel="stylesheet" href="../static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload-0 is-preload-1 is-preload-2">

		<!-- Main -->
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Filmothèque</h1>
						<p>A voir et à revoir</p>
						<ul class="icons">
							<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						</ul>
					</header>

				<!-- Thumbnail -->
					
					<section id="thumbnails">
						{% for film in films %}
						<article>
							<a class="thumbnail" href="{{ film.Poster }}" data-position="left center"><img src={{ film.Poster }} alt="" height="225" width="360"/></a>
							<h2>{{ film.Title }} -- test_return : {{ film.Runtime }} </h2>
							<p>Released {{ film.Released }}, realised by {{ film.Director }}</p>
							<p id="para">{{ film.Plot }}</p>
						</article>
						

						{% endfor %}
						
					</section>

				<!-- Footer -->
				<footer id="footer" class="wrapper style1-alt">
					<div class="inner">
						<ul class="menu">
							<li>&copy; Louis Adam. All rights reserved.</li>
							<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							<li>Photos: <a href="https://www.allocine.com">Allocine</a></li>
						</ul>
					</div>
	
					
				</footer>

			</div>

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/browser.min.js"></script>
			<script src="../static/js/breakpoints.min.js"></script>
			<script src="../static/js/main.js"></script>

	</body>
</html>